*{
    box-sizing: border-box;
}

body{
    display: flex; 
    background-color: cornflowerblue;
    flex-direction: column;
}

main{
    width: 100vw;
    height: 60vh; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

h1{
    text-align: center;
}

.text2{
    text-align: center;
}

.section1{
    flex-direction: row;
}
