header {
    display:flex;
    justify-content: center;
    background-color: #0e4c92;
    border: 10px groove #800000;
    padding: 10px;
    margin: 10px;
    font-size: 2vw;
}

body{
    background-color: floralwhite;
}

main{
    background-color: #0e4c92;
}

.image-styling{
    width: 98%;
    height: 50%;
    margin: 10px;
    border: 5px solid #800000;
}

footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: floralwhite;
    border: 5px solid black;
}